.header {
  width: 100vw;
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrapper {
    background-color: var(--color-gray-100);
    margin-bottom: 2rem;
    box-shadow: 0 -31px 15px 28px var(--color-gray-300);
  }
  &__logo {
    width: 2rem;
  }
}
